{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guardian</title>
	<!-- jQuery -->
	<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
	
	<!-- Bootstrap4 files-->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css.maprel="stylesheet" type="text/css"/>
	<!-- custom style -->
	<link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
	<!-- <link href="css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" /> -->
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	

	<!-- custom javascript -->
	<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
	
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AXTqxXn64aruQgJ6NeZ0lWhHbI1J3XPkLKS7rgp18w8y_QTVq5HzEV6yNCJrNzIAvEbhvpm1HrZ-uFNI&currency=USD"></script>


    <script type="text/javascript">
        /// some script
        
        // jquery ready start
        $(document).ready(function() {
            // jQuery code
        
        }); 
        // jquery end
        </script>
</head>
<body>
 
{% include 'includes/navigation2.html' %}

{% block start %} 
{% endblock %}

{% include 'includes/footer2.html' %}
</body>
</html>