{% extends "base2.html" %}
{% load static %}
{% block start %}

    <section class="section-content padding-y bg">
        <div class="container">
            <!-- ============================ COMPONENT 1 ================================= -->
			{% if not cart_items %}
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-warning">
							<div class="text-center">
							<h4>Your cart is empty</h4>
							<p>You have no items in your cart. <br><br><a href="{% url 'cities' %}" class="btn btn-success">Continue shopping</a></p>
						</div>
						</div>
					</div>
				</div>
			{% else %}
            <div class="row">
                <aside class="col-lg-9">
                    <div class="card">
                        <table class="table table table-shopping-cart">
                            <thead class="text-left">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right" width="200"></th>
                                </tr>
                            </thead>
                            <tbody>
								{% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside">
                                                <img src="{{ cart_item.product.image.url }}" class="img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                                <p class="text small">
                                                    {{ cart_item.product.slug }}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <!-- col.// -->
                                        <div class="col">
                                            <div class="input-group input-spinner">
                                                <div class="input-group-prepend">
                                                    <a href="{% url 'add_cart' cart_item.product.id %}" class="btn btn-light" type="button" id="button-plus">
                                                        <i class='bx bx-plus'></i>
													</a>
                                                </div>
                                                <input type="text" class="form-control"  value="{{ cart_item.quantity }}">
                                                <div class="input-group-append">
                                                    <a href="{% url 'remove_cart' cart_item.product.id %}" class="btn btn-light" type="button" id="button-minus">
                                                        <i class='bx bx-minus'></i>
													</a>
                                                </div>
                                            </div>
                                            <!-- input-group.// -->
                                        </div>
                                        <!-- col.// -->
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">Rs: {{ cart_item.sub_total }}</var>
											<p class="text small">
												Rs: {{ cart_item.product.cost }} each
											</p>
                                            {% comment %} <small class="text-muted">$315.20 each</small> {% endcomment %}
                                        </div>
                                        <!-- price-wrap .// -->
                                    </td>
                                    <td class="text-right">
                                        <a href="{% url 'remove_cart_item' cart_item.product.id %}" class="btn btn-danger">Remove</a>
                                    </td>
                                </tr>
								{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- card.// -->
                </aside>
                <!-- col.// -->
                <aside class="col-lg-3">
                    <div class="card">
						<div class="card-body">
							<dl class="dlist-align">
							  <dt>Total price:</dt>
							  <dd class="text-right">Rs: {{ total }} /-</dd>
							</dl>
							<dl class="dlist-align">
							  <dt>Shipping Cost:</dt>
							  <dd class="text-right">Rs: {{ shipping_cost }} /-</dd>
							</dl>
							<hr>
							<dl class="dlist-align">
							  <dt>Total:</dt>
							  <dd class="text-right text-dark b"><strong>Rs: {{grand_total}}</strong></dd>
							</dl>
							<hr>
                            <a href="{% url 'checkout' %}" class="btn btn-block btn-primary">Checkout</a>
                            <br>
							<a href="{% url 'cities' %}" class="btn btn-block btn-info">Continue shopping</a>
							
						</div>
						</div> 
                    <!-- card.// -->
                </aside>
                <!-- col.// -->
            </div>
            <!-- row.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->
        
		{% endif %}
	</div>
        <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
