{% extends "base.html" %}
{% load static %}}
{%block start%}
<link rel="stylesheet"  href="{% static 'css/councellor.css' %}">
<section class="section-councellor">
    <div class="councellors">
        <div class="councellor">
            <a href="#"><img src="{% static 'images/Doc1.jpg' %}" alt=""></a>
            <a href="#"><h3>Rishi Raj Shrestha</h3></a>
            <h6>Councellor</h6>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae modi quia expedita maxime ducimus minus fugit! Sequi molestiae tempore sunt.</p>
            <div class="stars">
                <a href="https://www.youtube.com/watch?v=JKCcTZOZYx8"><i class='bx bxl-facebook'></i></a>
                <!-- <a href="#"><i class='bx bxl-instagram' ></i></a> -->
                <!-- <a href="#"><i class='bx bxl-linkedin' ></i></a> -->
                <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
            </div>
        </div>

        <div class="councellor">
            <a href="#"><img src="../images/Doc2.jpg" alt=""></a>
            <a href="#"><h3>Rishi Raj Shrestha</h3></a>
            <h6>Councellor</h6>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae modi quia expedita maxime ducimus minus fugit! Sequi molestiae tempore sunt.</p>
            <div class="stars">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <!-- <a href="#"><i class='bx bxl-instagram' ></i></a> -->
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
            </div>
        </div>

        <div class="councellor">
            <a href="#"><img src="../images/Doc3.jpg" alt=""></a>
            <a href="#"><h3>Rishi Raj Shrestha</h3></a>
            <h6>Councellor</h6>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae modi quia expedita maxime ducimus minus fugit! Sequi molestiae tempore sunt.</p>
            <div class="stars">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
            </div>
        </div>

        <div class="councellor">
            <a href="#"><img src="../images/Doc4.jpg" alt=""></a>
            <a href="#"><h3>Rishi Raj Shrestha</h3></a>
            <h6>Councellor</h6>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae modi quia expedita maxime ducimus minus fugit! Sequi molestiae tempore sunt.</p>
            <div class="stars">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
            </div>
        </div>

        <div class="councellor">
            <a href="#"><img src="../images/Doc5.jpg" alt=""></a>
            <a href="#"><h3>Rishi Raj Shrestha</h3></a>
            <h6>Councellor</h6>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae modi quia expedita maxime ducimus minus fugit! Sequi molestiae tempore sunt.</p>
            <div class="stars">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
            </div>
        </div>


        <div class="councellor">
            <a href="#"><img src="../images/Doc6.jpg" alt=""></a>
            <a href="#"><h3>Rishi Raj Shrestha</h3></a>
            <h6>Councellor</h6>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae modi quia expedita maxime ducimus minus fugit! Sequi molestiae tempore sunt.</p>
            <div class="stars">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
            </div>
        </div>

        <div class="councellor">
            <a href="#"><img src="../images/Doc3.jpg" alt=""></a>
            <a href="#"><h3>Rishi Raj Shrestha</h3></a>
            <h6>Councellor</h6>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae modi quia expedita maxime ducimus minus fugit! Sequi molestiae tempore sunt.</p>
            <div class="stars">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
            </div>
        </div>

        <div class="councellor">
            <a href="#"><img src="../images/doc.png" alt=""></a>
            <a href="#"><h3>Rishi Raj Shrestha</h3></a>
            <h6>Councellor</h6>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae modi quia expedita maxime ducimus minus fugit! Sequi molestiae tempore sunt.</p>
            <div class="stars">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
            </div>
        </div>
        <div class="councellor">
            <a href="#"><img src="../images/2.png" alt=""></a>
            <a href="#"><h3>Rishi Raj Shrestha</h3></a>
            <h6>Councellor</h6>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae modi quia expedita maxime ducimus minus fugit! Sequi molestiae tempore sunt.</p>
            <div class="stars">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
            </div>
        </div>
    </div>
</section>






{%endblock%}