{% extends "base.html" %}
{% load static %}}
{%block start%}



<section class="subscribe">
    <div class="container flex items-center">
        <div>
            <h1>Search</h1>
            <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
            <div class="input-wrap">
                <input type="text" placeholder="Medicine name">
                <button>Search</button>
            </div>
        </div>
    </div>
</section>

{%endblock%}