{% extends "base.html" %}
{% load static %}
{% block start %}
    <section class="section all-products" id="products">
        <div class="top container">
            <h1>Cities</h1>
        </div>
    
    </section>



    <section class="section-pharmacies">
        <div class="pharmacies-center container">
            {% for city in cities_all %}
            <div class="pharmacy">
                <div class="pharmacy-header">
                    <img src="{{city.b_image.url}}" alt="">
                    <ul class="icons">
                        <a href="pharmacy_city1.html"> <span><i class='bx bx-log-in-circle'></i></span>
                    </a>
                </ul>
            </div>
            <div class="pharmacy-footer">
                <a href="pharmacy_city1.html">
                    <p style="text-align:center; font-size: 2.7rem;">
                        {{city.name}}
                    </p>
                </a>
            </div>
        </div>
        {% endfor %}



</div>
</section>
<section class="pagination">
    <div class=" container">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span><i class='bx bx-right-arrow-alt'></i></span>
    </div>
</section>
{% endblock %}
