{% extends "base2.html" %}
{% load static %}
{% block start %}
    <section class="section all-products" id="products">
        <div class="top container">
            <h1>Cities</h1>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="card-deck">
                {% for city in cities_all %}
                    <div class="col-3">
                        <div class="card" style="width: 18rem; height:24rem;">
                            <img src="{{ city.b_image.url }}" style="height:20rem;" alt="...">
                            <div class="card-body">
                                <a href="{{ city.get_url }}">
                                    <h5 class="card-title">{{ city.name }}</h5>
                                </a>
                            </div>
                        </div>
                        <br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="container">
            <br>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    {% endblock %}
