{% extends "base2.html" %}
{% load static %}
{% block start %}
    <style>
    .card{
        margin: 4px !important;
    }

    </style>
    <section class="section all-products" id="products">
        <div class="top container">
            <h1>Pharmacies</h1>
        </div>
    </section>
    <br>
    <div class='container'>
        <div class='row'>
            {% for pharmacy in pharmacies %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ pharmacy.profile_image.url }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ pharmacy.pharmacy_name }}</h5>
                                <p class="card-text">
                                    {{ pharmacy.description }}
                                </p>
                                <a href="{{ pharmacy.get_url }}" class="btn btn-outline-primary btn-sm">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    <section class="pagination">
        <div class="container">
            <br>
            <nav aria-label="...">
                {% if pharmacy.has_other_pages %}
                <ul class="pagination">
                    {% if pharmacy.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{pharmacy.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    {% endif %}

                    {% for page in pharmacy.paginator.page_range %}
                     {% if pharmacy.number == page %}
                        <li class="page-item active">
                            <a class="page-link active" href="#">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page}}">{{ page }}</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                    {% if pharmacy.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{pharmacy.next_page_number}}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
    </section>
{% endblock %}
