{% extends "base2.html" %}
{% load static %}
{% block start %}
    <style>
    .card{
        margin: 4px !important;
    }

    </style>
    <section class="section all-products" id="products">
        <div class="top container">
            <h1>Pharmacies</h1>
        </div>
    </section>
    <br>
    <div class='container'>
        <div class='row'>
            {% for pharmacy in pharmacies %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ pharmacy.profile_image.url }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ pharmacy.pharmacy_name }}</h5>
                                <p class="card-text">
                                    {{ pharmacy.description }}
                                </p>
                                <a href="{{ pharmacy.get_url }}" class="btn btn-outline-primary btn-sm">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    <section class="pagination">
        <div class="container">
            <br>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
