{% extends "base.html" %}
{% load static %}
{% block start %}
    <section class="section all-products" id="products">
        <div class="top container">
            <h1>Pharmacies</h1>
        </div>
    </section>
    <section class="section-pharmacies">
        <div class="pharmacies-center container">
            {% for pharmacy in pharmacies%}
            <div class="pharmacy">
                <div class="pharmacy-header">
                    <img src="{{pharmacy.profile_image.url}}" alt="">
                    <a href="#">
                        <button type="button" class="btn" id="pharma-btn">Details</button>
                    </a>
                    <ul class="icons">
                        <a href="pharmacy_dharan01.html"> <span><i class='bx bx-log-in-circle'></i></span>
                    </a>
                </ul>
            </div>
            <div class="pharmacy-footer">
                <a href="pharmacy_dharan01.html">
                    <h3>{{ pharmacy.pharmacy_name}}</h3>
                </a>
                <p>
                    loreehreiu eh iehfe iuheiuuh ui hiuhiui iu uiiuiiu i uiiiuu iiuuuu iiuiuiu iu iuiiiui iuipiipii
                </p>
            </div>
        </div>
        {% endfor %}
</div>
</section>
<section class="pagination">
    <div class=" container">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span><i class='bx bx-right-arrow-alt'></i></span>
    </div>
</section>
{% endblock %}
