{% extends "base2.html" %}

{% block start %}
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap"> 
	<div class="img-big-wrap">
	   <a href="#"><img src="../images/freq-2.png"></a>
	</div> <!-- img-big-wrap.// -->
	
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<article class="content-body">

<h2 class="title">Medicine</h2>

<div class="mb-3"> 
	<var class="price h4">$815.00</var> 
</div> 

<p>Lorem Ipsum is simply emaining essenti 1960s and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


<hr>
	<div class="row">
		<div class="item-option-select">
			<h6>Drugs Type</h6>
			<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color"> Low
			  </label>
			  <label class="btn btn-light active">
			    <input type="radio" name="radio_color" > High
			  </label>
			</div> 
		</div>
	</div> <!-- row.// -->
	<div class="row">
		<div class="item-option-select">
			<h6>Side Effects</h6>
			<ul>
				<li>side effects 1</li>
				<li>side effects 1</li>
				<li>side effects 1</li>
			  </ul>
		</div>
	</div> <!-- row.// -->
	<hr>
	<a href="./product-detail.html" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>
<!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}