{% extends "unincluded_base.html" %}
{% block start %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up as Counsellor</h4></header>
		<h4 class="card-title mb-4">Office Information</h4>
	<form action="">
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Name</label>
				<input type="text" placeholder="Type here" class="form-control">
			</div>
			
			<div class="form-group col-sm-4">
				<label>Telephone number</label>
				<input type="text"  class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Email</label>
				<input type="email" placeholder="example@gmail.com" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Established Date</label>
				<input type="date"  class="form-control">
			</div>

			<div class="form-group col-sm-4" >
				<label>Registration Document</label>
				<input type="file" class="form-control" id="customFile">
				<!-- <label class="form-control" for="customFile">Choose file</label> -->
			</div>
			<div class="form-group col-sm-4">
				<label>Province*</label>
				<select name="" class="form-control">
					<option value="">Province - 1</option>
					<option value="">Province - 2</option>
					<option value="">Province - 3</option>
					<option value="">Province - 4</option>
					<option value="">Province - 5</option>
					<option value="">Province - 6</option>
					<option value="">Province - 7</option>
				</select>
			</div>
			<div class="form-group col-sm-4">
				<label>District*</label>
				<input type="text" placeholder="Type here" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>City*</label>
				<input type="text" placeholder="Type here" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Street</label>
				<input type="text" placeholder="" class="form-control">
			</div>

			<div class="form-group col-sm-4">
				<label>Postal code</label>
				<input type="text" placeholder="" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Zip</label>
				<input type="text" placeholder="" class="form-control">
			</div>
			<div class="form-group col-sm-6">
				<div class="item-option-select">
					<h6>Working Days</h6>
					<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-light active">
						<input type="checkbox" name="radio_color"> Sunday
					</label>
					<label class="btn btn-light">
						<input type="checkbox" name="radio_color" > Monday
					</label>
					<label class="btn btn-light">
						<input type="checkbox" name="radio_color"> Tuesday
					</label>
					<label class="btn btn-light">
						<input type="checkbox" name="radio_color" > Wenesday
					</label>
					<label class="btn btn-light">
						<input type="checkbox" name="radio_color"> Thusday
					</label>
					<label class="btn btn-light">
						<input type="checkbox" name="radio_color" > Friday
					</label>
					<label class="btn btn-light">
						<input type="checkbox" name="radio_color" > Saturday
					</label>
					</div> 
				</div>
			</div>
			<div class="form-group col-sm-3">
				<label>Working time-Start</label>
				<input type="time"  class="form-control">
			</div>
			<div class="form-group col-sm-3">
				<label>Working time-End</label>
				<input type="time"  class="form-control">
			</div>
			<div class="form-group col-sm-8">
				<label>Description</label>
				<textarea name="textarea" placeholder="Write something here" rows="10" cols="50"></textarea>
			</div>
			<div class="form-group col-sm-4">
				<!-- <textarea name="textarea" placeholder="Write something here" rows="10" cols="50"></textarea> -->
			</div>
			<div class="form-group col-sm-2">
				<a href="#" class="btn btn-block btn-primary">Submit </a>
			</div>
				
		</div> <!-- row.// -->	
	</form></article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>

{% endblock %}