{% extends "base2.html" %}
{% load static %}
{% block start %}
    <style>
    .card{
        margin: 4px !important;
    }

    </style>
    <section class="section all-products" id="products">
        <div class="top container">
            <h1>Blogs</h1>
        </div>
    </section>
    <br>
    <div class='container'>
        <div class='row'>
            {% for blog in blog_obj %}
                <div class="card mb-6" style="max-width: 580px; padding-buttom:2px">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ blog.image.url }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ blog.title }}</h5>
                                <h6 class="card-text">{{ blog.counsellor_name_id }}</h6>
                                <p class="card-text">
                                    {{ blog.created_at }}
                                </p>
                                <a href="{{ blog.get_url }}" class="btn btn-outline-primary btn-sm">Read</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    <br>
{% endblock %}
