{% extends "unincluded_base.html" %}
{% block start %}
<style>
	textarea{
	overflow: auto;
    resize: vertical;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.9rem + 5rem);
    padding: 0.45rem 0.85rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.37rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
</style>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
	<div class="container">
		<br>
		<br>
	<div class="row align-items-center">
	<article class="card mb-4">
	<div class="card-body">
		{% include 'includes/alerts.html' %}
		<h4 class="card-title mb-4">Pharmacy Details</h4>
		<form action="{% url 'pharmacyregister' %}" method="POST" id="personForm" data-districts-url="{% url 'ajax_load_districts' %}" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
			{% csrf_token %}
			<div class="row">
				<div class="form-group col-sm-6">
					<label>Pharmacy Name</label>
					{{form.pharmacy_name}}
				</div>
				<div class="form-group col-sm-6" >
					<label>Pharmacy image</label>
					{{form.profile_image}}
				</div>
				<div class="form-group col-sm-4">
					<label>Pharmacy Email</label>
					{{form.pharmacy_email}}
				</div>
				<div class="form-group col-sm-4">
					<label>Telephone Number</label>
					{{form.phone_no}}
				</div>
				<div class="form-group col-sm-4">
					<label>Registration Number</label>
					{{form.registration_no}}
				</div>
				<div class="form-group col-sm-4" >
					<label>Pharmacy registration Document</label>
					{{form.registered_doc}}
				</div>
				<div class="form-group col-sm-4" >
					<label>Province</label>
					<select name="province_no" class="form-control">
						{% for type in form.province_no %}
							{{ type }}
						{% endfor %}
					</select>
				</div>
				<div class="form-group col-sm-4">
					<label>District</label>
					{{form.district}}			
				</div>
				<div class="form-group col-sm-4">
					<label>City</label>
					{{form.city}}
				</div>
				<div class="form-group col-sm-4">
					<label>Ward</label>
					{{form.ward}}
				</div>
				<div class="form-group col-sm-4">
					<label>Tole</label>
					{{form.tole}}
				</div>
				<div class="form-group col-sm-6">
					<div class="item-option-select">
						<label>Working Days</label>
						<div name="working_days" class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
							{% for type in form.working_days %}
								<div class="btn btn-light">{{ type }}</div>
							{% endfor %}
						</div> 
					</div>
				</div>
				<div class="form-group col-sm-3">
					<label>Working time-Start</label>
					{{form.working_hours_start}}
				</div>
				<div class="form-group col-sm-3">
					<label>Working time-End</label>
					{{form.working_hour_end}}
				</div>
				<div class="form-group col-sm-8">
					<label>Description</label>
					{{form.description}}
				</div>
				<div class="form-group col-sm-4">

				</div>
				<div class="form-group col-sm-2">
					<button type="submit" class="btn btn-primary btn-block"> Submit  </button>
				</div>	
			</div>
		</form>
	</div> 
	</article>
	</div>
	</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
		$("#id_province").change(function () {
		  var url = $("#personForm").attr("data-districts-url");
		  var provinceId = $(this).val();
	
		  $.ajax({
			url: url,
			data: {
			  'province': provinceId
			},
			success: function (data) {
			  $("#id_district").html(data);
			}
		  });
	
		});
	  </script>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}