{% extends "unincluded_base.html" %}
{% block start %}


 <section class="section-content padding-y">
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Book Meeting</h4></header>
		<form action="{% url 'counselor' %}" method="POST">
			{% csrf_token %}
				<div class="form-row">
					<div class="col form-group">
						<label>Metting Title</label>
					  	{{ form.meeting_title }}
					</div>
					<div class="col form-group">
						<label>Age</label>
					  	{{ form.client_age }}
					</div> 
				</div> 

				<div class="form-row">
					<div class="col form-group">
						<label>Marital Status</label>
						<select name="marital_status" class="form-control">
							{% for type in form.marital_status %}
								{{ type }}
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Date</label>
					    {{ form.meeting_date }}
					</div>
					<div class="form-group col-md-6">
						<label>Time</label>
					    {{ form.meeting_time }}
                        <small class="form-text text-muted" style="color:black!important">Please check counsellor office time before scheduling.</small>
					</div>
				</div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Description</label>
                        {{ form.meeting_description }}
                        <small class="form-text text-muted" style="color:black!important">Describe the purpose of booking a meeting session.</small>
                    </div>
                    </div>
				<div class="form-group">  
					{{ form.non_field_errors }}
				</div>
				
			    <div class="form-group">
			        <button type="submit" value="Submit" class="btn btn-primary btn-block"> Book  </button>
			    </div>
				
			</form>
		</article>
    </div> 
</section> 

{% endblock %}