{% extends "base2.html" %}
{% load static %}
{% block start %}
    <section class="section-content padding-y bg">
        <div class="container">
            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="row">
                <aside class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'dashboardcounsellor' %}" class="btn btn-light btn-block">Add Blog</a>
                            <a href="{% url 'added_blog' %}" class="btn btn-light btn-block">Added Blogs</a>
                            <a href="{% url 'cpaymentlog' %}" class="btn btn-light btn-block">Payment Logs</a>
                            <a href="{% url 'corderlog' %}" class="btn btn-primary btn-block">Order Logs</a>
                            <a href="{% url 'ccustomerbook' %}" class="btn btn-light btn-block">Meeting Schedules</a>
                            <a href="{% url 'creview' %}" class="btn btn-light btn-block">Review log</a>
                        </div>
                    </div>
                </aside>
                <aside class="col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Orders</h4>
                            {% if orders%}
                            <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Order Number</th>
                                        <th>Tax</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>{{ order.id }}</td>
                                            <td>{{ order.order_number }}</td>
                                            <td>Rs: {{ order.tax }} /-</td>
                                            <td>Rs: {{ order.order_total }} /-</td>
                                            <td>{{ order.status }}</td>
                                            <td>{{ order.created_at }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else%}
                                <div class="alert alert-warning">
                                    <strong>No orders found!</strong>
    
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
